body {
  font-size: 12px;
  background-color: #f6f6f6; }

a {
  color: #aaa; }
  a:hover {
    text-decoration: none;
    color: #C60023; }

li, ul {
  list-style: none; }

.dib-wrapper {
  font-size: 0;
  *word-spacing: -1px; }

.dib-wrapper .dib {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .dib-wrapper {
    letter-spacing: -5px; } }

.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.msg {
  padding: 5px 10px;
  background-color: #FEF2F2;
  margin-bottom: 10px; }

.msg-hidden {
  padding: 5px 10px;
  background-color: #FEF2F2;
  margin-bottom: 10px;
  visibility: hidden; }

.errmsg-icon {
  font-size: 16px;
  color: #d64848;
  vertical-align: middle; }

.sucmsg-icon {
  font-size: 16px;
  color: green;
  vertical-align: middle; }

.errmsg-text {
  display: inline-block;
  color: #666;
  vertical-align: middle;
  padding-left: 5px;
  margin-top: 3px; }

.list-item {
  padding: 10px; }
  .list-item-inner {
    display: inline-block;
    padding: 10px;
    background-color: #fff !important;
    color: #666;
    border: 1px solid transparent; }
    .list-item-inner:hover {
      border: 1px solid #C60023; }

.price-show {
  font-size: 16px;
  font-weight: 500;
  color: #EB380D; }

.item-detail {
  color: #666; }

.link-active {
  color: #C60023 !important; }

.text-lg {
  font-size: 20px !important; }

.text-md {
  font-size: 16px !important; }

.text-bold {
  font-weight: bold; }

.text-bolder {
  font-weight: bolder;
  font-size: 14px; }

.text-theme {
  color: #C60023; }

.bg-theme {
  background-color: #C60023;
  color: #fff; }

.g-table-header {
  height: 40px;
  padding: 0 10px;
  background-color: #eee;
  line-height: 40px;
  margin-bottom: 10px; }

.g-table-img-link {
  display: inline-block;
  border: 1px solid #ddd;
  margin-left: 15px;
  vertical-align: middle; }

.g-table-list {
  padding: 10px;
  border-bottom: 1px solid #eee; }

.g-table-muti-cell {
  display: table-cell;
  height: 80px;
  vertical-align: middle; }

.g-table-ver-ali {
  line-height: 80px; }

.g-table-body {
  margin-bottom: 20px; }

.g-table-footer {
  height: 40px;
  padding: 0 10px;
  background-color: #eee;
  line-height: 40px;
  margin-top: 10px; }

.hor-center {
  width: 1100px;
  margin: 0 auto;
  margin-top: 20px; }

.panel {
  padding: 10px;
  border-radius: 0;
  background-color: #fff; }

.panel-title {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px; }

.panel-list {
  margin-bottom: 20px;
  color: #111; }

.g-btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: #C60023;
  color: #fff !important;
  font-size: 14px;
  font-weight: 550;
  cursor: pointer;
  outline: none;
  border: none; }
  .g-btn-ban {
    cursor: not-allowed !important;
    background-color: #999; }

.vis-show {
  visibility: visible; }

.vis-hidden {
  visibility: hidden; }

.tips-wrapper {
  position: fixed;
  top: 20px;
  width: 200px;
  height: 30px;
  line-height: 30px;
  left: 50%;
  z-index: 1;
  text-align: center;
  margin-left: -100px;
  background-color: #fff;
  box-shadow: 2px 2px 8px #ddd;
  border-radius: 3px; }

.tips-warning i {
  font-size: 16px;
  color: #f90; }

.tips-text {
  vertical-align: top; }

.ml-10 {
  margin-left: 10px; }

.ml-20 {
  margin-left: 20px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-left: 20px; }

.wrapper {
  background-color: #f6f6f6; }

.header-wraper {
  background-color: #eee; }

.header {
  width: 1100px;
  margin: 0 auto;
  height: 30px; }

.logo-search {
  width: 1100px;
  margin: 0 auto;
  height: 120px; }

.logo-wrapper {
  height: 120px;
  line-height: 120px;
  width: 260px;
  text-align: center; }

.search-wrapper {
  height: 100%; }

.menu-carousel {
  width: 1100px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 10px; }

.side-menu {
  height: 350px;
  width: 260px;
  padding-top: 10px;
  background-color: #666; }

.carousel-wrapper {
  height: 100%;
  background-color: #ddd; }

.goods-cate-wrapper {
  width: 1100px;
  margin: 0 auto; }

.header-link {
  display: inline-block;
  text-align: center;
  line-height: 30px; }

.header-left {
  line-height: 30px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  .logo img {
    display: inline-block;
    vertical-align: middle; }

.search {
  margin-top: 45px; }
  .search-input {
    height: 40px;
    width: 600px;
    outline: none;
    padding: 5px 10px;
    border: 2px solid #C60023;
    vertical-align: top; }
  .search-btn {
    height: 40px;
    width: 60px;
    border: none;
    background-color: #C60023;
    color: #fff;
    font-size: 26px !important; }

.header-nav-wrapper {
  border-top: 2px solid #C60023;
  background-color: #eee; }

.header-nav {
  width: 1100px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto; }
  .header-nav a:hover {
    color: #C60023; }

.footer {
  width: 1100px;
  margin: 0 auto;
  height: 60px;
  text-align: center; }
  .footer-wrapper {
    margin-top: 10px; }

.links {
  display: inline-block;
  text-align: center;
  width: 200px;
  margin-top: 5px; }
  .links a {
    color: #444; }

.copyright {
  color: #444;
  margin-top: 5px; }
