.wrapper{
	background-color: #f6f6f6;
}
.header-wraper{
	background-color: #eee;
}
.header{
	width: 1100px;
	margin: 0 auto;
	height: 30px;
}
.logo-search{
	width: 1100px;
	margin: 0 auto;
	height: 120px;
}
.logo-wrapper{
	height: 120px;
	line-height: 120px;
	width: 260px;
	text-align: center;
}
.search-wrapper{
	height: 100%;
}
.menu-carousel{
	width: 1100px;
	height: 350px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.side-menu{
	height: 350px;
	width: 260px;
	padding-top: 10px;
	background-color: #666;
}
.carousel-wrapper{
	height: 100%;
	background-color: #ddd;
}
.goods-cate-wrapper{
	width: 1100px;
	margin: 0 auto;
}